indent: auto
output-xhtml: true
wrap: 0
word-2000: true
drop-font-tags: true
doctype: strict
drop-empty-paras: true
enclose-block-text: true
enclose-text: true
escape-cdata: true
logical-emphasis: true
break-before-br: false
force-output: true
show-body-only: true
literal-attributes: true
char-encoding: utf8
new-inline-tags: inscript
new-blocklevel-tags: inscript
